{# squelette base...... #}
{% extends "base.html.twig" %}

{# def. du titre #}
{% block title %}Accueil{% endblock %}

{# remplissage du body de la page #}
{% block body %}

    {# grille bootstrap #}
    <div class="container-fluid">

        {# titre h1 de la page #}
        <div class="row">
            <div class="col-12">
                <h1 class="text-center my-5">{{ site_name }}</h1>
            </div>
        </div>


    {# contenu lorem #}
    <div class="row">
        <div class="col-12 col-md-10 mx-auto">

            <h2 class="text-center my-4">Lorem ipsum dolor sit amet, consectetur.</h2>

            <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad dolorem dolores ducimus iste minima placeat ullam vitae voluptate voluptates! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus, quasi.</p>
    </div>
        </div>

        {# affichage de l'image #}
        <div class="row my-5 batman-cover"></div>

        {# affichage des derniers articles publié #}

        <div class="row">
            <div class="col-12 col-md-8 mx-auto">
                <div class="row">
                    <h2 class="col-12 text-center "  >Dernières publications</h2>
                </div>
                {# boucle pour parcourir tous les articles a afficher #}
                {% for article in articles %}

                    <div class="row">

                        <div class="col-12">

                            <div class="card my-3 bg-black">

                                <div class="card-header">

                                    {# Titre de l'article, cliquable vers la page détaillée de l'article #}
                                    <a class="text-decoration-none" href="{{ path('blog_publication_view', {slug:article.slug}) }}"><i class="far fa-newspaper me-2"></i>{{ article.title }}</a>
                                </div>

                                <div class="card-body text-light">

                                    <div class="mb-2">

                                        {# Affichage du contenu de l'article, tronqué à 100 caractères, sans balises html, suivi de "..." et d'un lien "lire la suite" #}
                                        {{ article.content|striptags|excerpt(100) }}
                                        <a class="text-decoration-none" href="{{ path('blog_publication_view', {slug: article.slug}) }}">Lire la suite</a>
                                    </div>

                                    {# Date et auteur de l'article #}
                                    <footer class="blockquote-footer my-2">Publié le <strong>{{ article.publicationDate|date('d/m/y à H\\i') }}</strong> par <strong>{{ article.author.pseudonym }}</strong></footer>

                                </div>

                            </div>

                        </div>


                    </div>

                {% endfor %}
            </div>
        </div>
        {# contenu lorem #}
        <div class="row mb-5">
            <div class="col-12 col-md-10 mx-auto">

                <h2 class="text-center my-4">Lorem ipsum dolor sit amet, consectetur.</h2>

                <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad dolorem dolores ducimus iste minima placeat ullam vitae voluptate voluptates! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus, quasi.</p>
            </div>
        </div>

    </div>
{% endblock %}
